registry=https://registry.npmjs.org/
@ai-sdk:registry=https://registry.npmjs.org/
fetch-retries=10
fetch-retry-mintimeout=60000
fetch-retry-maxtimeout=180000
network-timeout=600000
strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest
prefer-frozen-lockfile=false
registry-mirrors[]=https://registry.yarnpkg.com/
registry-mirrors[]=https://npm.pkg.github.com/
node-mirror:release=https://nodejs.org/download/release/
node-mirror:rc=https://nodejs.org/download/rc/
node-mirror:nightly=https://nodejs.org/download/nightly/ 